html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app:has(nav) .loading-message {
  display: none;
}

header,
footer {
  display: flex;
  flex-direction: column;
}

main {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

[role='menubar'] > .active {
  background-color: var(--link-color-hovered);
  color: white;
}

*[hidden] {
  display: none;
}

input[type='text'][disabled] {
  background-color: var(--button-face-disabled);
}

.save-node {
  display: none;
}

.tree-view ul ul:has(.saveable-tree) .save-node {
  display: inline-block;
}

.tree-view > li > details > summary {
  font-style: italic;
}

.no-margin-top {
  margin-top: 0;
}